* {
  font-family: Arial, sans-serif;
}

body {
  max-width: 12in;
  margin: auto;
}

blockquote {
  border-left: 4px solid #ddd;
  padding-left: 16px;
  margin-left: 20px;
  margin-right: 40px;
}

.hover_below_menu > .hover_below_content_wrapper {
  position: relative;
}

.hover_below_menu > .hover_below_content_wrapper > .hover_below_content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s;
}

.hover_below_menu:hover > .hover_below_content_wrapper > .hover_below_content {
  visibility: visible;
  opacity: 1;
}

.hflex {
  display: flex;
}

.hfill {
  flex: 1;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay_content {
  margin: auto;
  padding: 4em;
}

.pixel {
  image-rendering: pixelated;
}

.citation {
  text-indent: -0.5in;
  padding-left: 0.5in;
}

.expand_image {
  color: inherit;
  text-decoration: inherit;
  display: grid;
  justify-items: center;
  align-items: center;
}

.expand_image > * {
  grid-row-start: 1;
  grid-column-start: 1;
}

.expand_image:after {
  content: 'Click to expand image';
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.5);
  grid-row-start: 1;
  grid-column-start: 1;
}

.darkmode {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .darkmode {
    display: initial;
  }

  .lightmode {
    display: none;
  }

  html {
    background: #222;
  }

  :not(a):not(a *) {
    color: #fff;
  }

  a {
    color: #08f;
  }

  a:visited {
    color: #82f;
  }

  a:active {
    color: #e00;
  }
}
