* {
  font-family: Arial, sans-serif;
}

body {
  max-width: 12in;
  margin: auto;
}

.hover_below_menu > .hover_below_content_wrapper {
  position: relative;
}

.hover_below_menu > .hover_below_content_wrapper > .hover_below_content {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.hover_below_menu:hover > .hover_below_content_wrapper > .hover_below_content {
  display: block;
}

.hflex {
  display: flex;
}

.hfill {
  flex: 1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: none;
  opacity: 0;
  transition: opacity .5s;
}

.overlay:target {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
