.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  margin: 1em 0;
}

.navbar > * {
  flex: 1;
}

.navbar_item {
  padding: 1em;
  background: #888;
  text-align: center;
}

.navbar_subitem {
  padding: 1em;
  background: #aaa;
}
